/* spell preparations styles */
.dnd5e2.sheet.actor.character .tab.spells .top > .card {
    width: 270px;
}

/* item restore app styles */
div.body {
    width: 900px;
    height: 600px;
}
div.title {
    margin: 0 0 5px 0;
}

div.title > span {
    font-size: large;
}

div.messages {
    border: 1px solid black;
}

div.messages > p {
    font-weight: bold;
}

p.instruction-header {
    padding: 0 0 0 5px;
}

div.buttons {
    margin: 10px 0 0 0;
}

div.buttons > p {
    border: 1px solid black;
    padding: 4px;
    display: inline;
    background-color: #fff;
    font-weight: bold;
}

div.buttons > p.enabled {
    color: white;
}

div.buttons > p.disabled {
    color: gray;
}