{% extends "base.html" %}
{% block title %}Materia 5.M 2024 Docs{% endblock %}
{% block body %}
<h1>Classes</h1>
<ul>
    <li><a href="classes/artificer.html">Artificer</a></li>
    <li><a href="classes/barbarian.html">Barbarian</a></li>
    <li><a href="classes/bard.html">Bard</a></li>
    <li><a href="classes/blood-hunter.html">Blood Hunter</a></li>
    <li><a href="classes/cleric.html">Cleric</a></li>
    <li><a href="classes/druid.html">Druid</a></li>
    <li><a href="classes/fighter.html">Fighter</a></li>
    <li><a href="classes/monk.html">Monk</a></li>
    <li><a href="classes/paladin.html">Paladin</a></li>
    <li><a href="classes/ranger.html">Ranger</a></li>
    <li><a href="classes/rogue.html">Rogue</a></li>
    <li><a href="classes/sorcerer.html">Sorcerer</a></li>
    <li><a href="classes/warlock.html">Warlock</a></li>
    <li><a href="classes/warlord.html">Warlord</a></li>
    <li><a href="classes/wizard.html">Wizard</a></li>
</ul>
<h1>Spells</h1>
<ul>
    <li><a href="spells/cantrips.html">Cantrips</a></li>
    <li><a href="spells/1st-level-spells.html">Level 1 Spells</a></li>
    <li><a href="spells/2nd-level-spells.html">Level 2 Spells</a></li>
    <li><a href="spells/3rd-level-spells.html">Level 3 Spells</a></li>
    <li><a href="spells/4th-level-spells.html">Level 4 Spells</a></li>
    <li><a href="spells/5th-level-spells.html">Level 5 Spells</a></li>
    <li><a href="spells/6th-level-spells.html">Level 6 Spells</a></li>
    <li><a href="spells/7th-level-spells.html">Level 7 Spells</a></li>
    <li><a href="spells/8th-level-spells.html">Level 8 Spells</a></li>
    <li><a href="spells/9th-level-spells.html">Level 9 Spells</a></li>
</ul>
{% endblock %}
