<div class="body">
    <div class="title">
        <span class="application-title">Item Restore</span>
    </div>
    <!--<div class="messages">
        <p class="instruction-header">Instructions:</p>
        <p class="instruction-messages">If you wish to restore this item click the "Restore Item" button.</p>
    </div>-->
    <div class="buttons">
        <p class="restore-item-button">Restore Item</p>
    </div>
</div>