body {
    font-family: Roboto, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    border-top: 1px solid #7a7971;
    border-bottom: 1px solid #7a7971;
}

table caption {
    font-weight: bold;
    font-variant: small-caps;
}

table tr:nth-child(even) {
    background-color: #f1ebe8;
}

table tr:nth-child(odd) {
    background-color: #f8f4f1;
}

table thead tr:nth-child(even) {
    background: unset;
}
table thead tr:nth-child(odd) {
    background: unset;
}

table thead {
    background: linear-gradient(to right, #401f25, #741b2b);
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
}

table thead th {
    padding: 5px;
}

section.secret {
    display: none;
}